.selected {
  background-color: #eeb3c6;
}

.pointer {
  cursor: pointer;
}

.hovered {
  background-color: #ccb0b9;
}

.rowhover {
  background-color: aquamarine;
}

.custom-table {
  width: 100%;
  table-layout: fixed;
  overflow-x: auto;
}

.cell-tiers {
  width: 15%;
}

.cell-id {
  width: 10%;
}
.cell-firstName {
  width: 20%;
}
.cell-lastName {
  width: 20%;
}
.cell-email {
  width: 30%;
}

.mat-header-cell,
.mat-cell {
  word-wrap: normal;
  overflow: scroll;
  text-overflow: ellipsis;
}

// .mat-expansion-panel-header.mat-expanded {
//   height: 20px;
// }

.my-accordion {
  .mat-expansion-panel-header {
    background-color: #d8e7f3;
    padding: 0 15px;

    &.mat-expanded {
      height: 40px;
    }

  }

  .mat-expansion-panel {
    margin: 0 ;
  }
}

// .header-id,
// .cell-id,
// .header-firstName,
// .cell-firstName,
// .header-lastName,
// .cell-lastName,
// .header-email,
// .cell-email {
//   text-align: left;
//   width: 25%;
// }

// @media (min-width: 576px) {
//   .header-id,
//   .cell-id,
//   .header-firstName,
//   .cell-firstName,
//   .header-lastName,
//   .cell-lastName,
//   .header-email,
//   .cell-email {
//     width: 25%;
//   }
// }
